/*header section*/
.hero_area {
    height: 100vh;
    position: relative;
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  }
  
  .hero_area .slick_main {
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    height: 100vh;
    display: block;
    margin: 0 auto;
  }
  
  .hero_area .slick_main .main-img-box {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
  
  .hero_area .slick_main .main-img-box.b1 {
    background-image: url(../images/a-1.jpg);
  }
  
  .hero_area .slick_main .main-img-box.b2 {
    background-image: url(../images/hero-side-bg2.jpg);
  }
  
  .hero_area .slick_main .main-img-box.b3 {
    background-image: url(../images/hero-side-bg.jpg);
  }
  
  .sub_page .hero_area {
    height: auto;
    background-position: top right;
  }
  
  .sub_page .hero_area .navbar .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .hero_area.sub_pages {
    height: auto;
  }
  
.hero_area .slick_main {
    top: initial;
    bottom: 0;
    width: 100%;
    height: 400px;

  }

  .hero_area .slick_main .main-img-box {
    height: 400px;
  }

  .contact_section form {
    padding: 0;
    margin-bottom: 55px;
  }

  @media (max-width: 420px) {
    .contact_section .img-box .img_overlay {
      width: 90%;
      height: 95%;
    }
  }  
  @media (max-width: 768px) {
    .hero_area {
      height: auto;
    }
  }  